* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/*MOBILE FIRST
Como hoje todos usam muito o celular, o ideal é pensar no desing primeiro pro celular.*/
div {
    width: 100%;
    height: 100px;
    background-color: red;
    margin: 5px 0;
}

/*Quando a largura for de 460px pra cima, ele vai seguir o css abaixo usado para Celulares maiores ou tablete pequeno/médio:*/
@media (min-width:460px ) {
    div {
        background-color: blue;
        width: 80%;
    }

}

/*Quando a largura for de 768px pra cima, ele vai seguir o css abaixo, usado para Tablete maiores ou computador:*/
@media (min-width:768px ) {
    div {
        background-color: blue;
        width: 50%;
    }

}

/*Quando a largura for de 1280px pra cima, ele vai seguir o css abaixo, usado para Computador ou maior:*/
@media (min-width:1280px ) {
    div {
        background-color: blue;
        width: 20%;
    }

}
